<h1>Users#show</h1>

<h2>Email: <%= @user.email %> </h2>
<h3>Nombre: <%= @user.first_name + " " + @user.last_name %></h3>
<h4>RUT: <%= @user.rut %></h4>
<p>Birth Date: <%= @user.birth_date %></p>
<p>City: <%= @user.city %></p>
