<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @price.place %>
</p>

<p>
  <strong>Wash type:</strong>
  <%= @price.wash_type %>
</p>

<p>
  <strong>Vehicle size:</strong>
  <%= @price.vehicle_size %>
</p>

<p>
  <strong>Gross amount:</strong>
  <%= @price.gross_amount %>
</p>

<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %>
