<h1>Washers#show</h1>

<h2>Email: <%= @washer.email %> </h2>
<h3>Nombre: <%= @washer.first_name + " " + @washer.last_name %></h3>
<h4>RUT: <%= @washer.rut %></h4>
<p>Birth Date: <%= @washer.birth_date %></p>
<p>City: <%= @washer.city %></p>
<p>Role: <%= @washer.role %></p>
